# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Dependencies
node_modules/

# Build outputs
dist/
build/

# Temporary files
*.tmp
.cache/

# Ayomendaki Admin
backend/ayomendaki-admin
backend/data/
backend/tmp/
backend/node_modules/
backend/package-lock.json
